*.zip
*.tar.gz

### AppCode ###
.idea/

### Xcode ###
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.xcuserstate

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store
*~
*.swp
testbuild.*

# Plugins
bin/

build/

AdColony.framework/
VungleSDK.framework/
sdkbox.framework/
PluginKochava.framework/
PluginAdColony.framework/
PluginVungle.framework/
PluginGoogleAnalytics.framework/
PluginFlurryAnalytics.framework/
PluginIAP.framework/
MobileAppTracker.framework/
PluginTune.framework/
PluginAgeCheq.framework/
PluginSoomlaGrow.framework/
PluginFacebook.framework/
FBSDKCoreKit.framework/
FBSDKLoginKit.framework/
FBSDKShareKit.framework/
Chartboost.framework/
PluginChartboost.framework/

proj.android/jni/pluginadcolony/
proj.android/jni/pluginagecheq/
proj.android/jni/pluginchartboost/
proj.android/jni/pluginfacebook/
proj.android/jni/pluginflurryanalytics/
proj.android/jni/plugingoogleanalytics/
proj.android/jni/pluginiap/
proj.android/jni/pluginkochava/
proj.android/jni/plugintune/
proj.android/jni/pluginvungle/
proj.android/jni/sdkbox/
proj.android/libs/
proj.android/res/xml/

frameworks/runtime-src/Classes/PluginAdColonyJS.cpp
frameworks/runtime-src/Classes/PluginAdColonyJS.hpp
frameworks/runtime-src/Classes/PluginAdColonyJSHelper.cpp
frameworks/runtime-src/Classes/PluginAdColonyJSHelper.h
frameworks/runtime-src/Classes/PluginAgeCheqJS.cpp
frameworks/runtime-src/Classes/PluginAgeCheqJS.hpp
frameworks/runtime-src/Classes/PluginAgeCheqJSHelper.cpp
frameworks/runtime-src/Classes/PluginAgeCheqJSHelper.h
frameworks/runtime-src/Classes/PluginChartboostJS.cpp
frameworks/runtime-src/Classes/PluginChartboostJS.hpp
frameworks/runtime-src/Classes/PluginChartboostJSHelper.cpp
frameworks/runtime-src/Classes/PluginChartboostJSHelper.h
frameworks/runtime-src/Classes/PluginFacebookJS.cpp
frameworks/runtime-src/Classes/PluginFacebookJS.hpp
frameworks/runtime-src/Classes/PluginFacebookJSHelper.cpp
frameworks/runtime-src/Classes/PluginFacebookJSHelper.h
frameworks/runtime-src/Classes/PluginFlurryAnalyticsJS.cpp
frameworks/runtime-src/Classes/PluginFlurryAnalyticsJS.hpp
frameworks/runtime-src/Classes/PluginFlurryAnalyticsJSHelper.cpp
frameworks/runtime-src/Classes/PluginFlurryAnalyticsJSHelper.h
frameworks/runtime-src/Classes/PluginFyberJS.cpp
frameworks/runtime-src/Classes/PluginFyberJS.hpp
frameworks/runtime-src/Classes/PluginFyberJSHelper.cpp
frameworks/runtime-src/Classes/PluginFyberJSHelper.h
frameworks/runtime-src/Classes/PluginGoogleAnalyticsJS.cpp
frameworks/runtime-src/Classes/PluginGoogleAnalyticsJS.hpp
frameworks/runtime-src/Classes/PluginIAPJS.cpp
frameworks/runtime-src/Classes/PluginIAPJS.hpp
frameworks/runtime-src/Classes/PluginIAPJSHelper.cpp
frameworks/runtime-src/Classes/PluginIAPJSHelper.h
frameworks/runtime-src/Classes/PluginKochavaJS.cpp
frameworks/runtime-src/Classes/PluginKochavaJS.hpp
frameworks/runtime-src/Classes/PluginReviewJS.cpp
frameworks/runtime-src/Classes/PluginReviewJS.hpp
frameworks/runtime-src/Classes/PluginReviewJSHelper.cpp
frameworks/runtime-src/Classes/PluginReviewJSHelper.h
frameworks/runtime-src/Classes/PluginTuneJS.cpp
frameworks/runtime-src/Classes/PluginTuneJS.hpp
frameworks/runtime-src/Classes/PluginTuneJSHelper.cpp
frameworks/runtime-src/Classes/PluginTuneJSHelper.h
frameworks/runtime-src/Classes/PluginVungleJS.cpp
frameworks/runtime-src/Classes/PluginVungleJS.hpp
frameworks/runtime-src/Classes/PluginVungleJSHelper.cpp
frameworks/runtime-src/Classes/PluginVungleJSHelper.h
frameworks/runtime-src/Classes/SDKBoxJSHelper.cpp
frameworks/runtime-src/Classes/SDKBoxJSHelper.h
frameworks/runtime-src/proj.android/jni/pluginadcolony/
frameworks/runtime-src/proj.android/jni/pluginagecheq/
frameworks/runtime-src/proj.android/jni/pluginchartboost/
frameworks/runtime-src/proj.android/jni/pluginfacebook/
frameworks/runtime-src/proj.android/jni/pluginflurryanalytics/
frameworks/runtime-src/proj.android/jni/pluginfyber/
frameworks/runtime-src/proj.android/jni/plugingoogleanalytics/
frameworks/runtime-src/proj.android/jni/pluginiap/
frameworks/runtime-src/proj.android/jni/pluginkochava/
frameworks/runtime-src/proj.android/jni/pluginreview/
frameworks/runtime-src/proj.android/jni/plugintune/
frameworks/runtime-src/proj.android/jni/pluginvungle/
frameworks/runtime-src/proj.android/jni/sdkbox/
frameworks/runtime-src/proj.android/libs/
frameworks/runtime-src/proj.android/plugin_review_res_project/
frameworks/runtime-src/proj.android/res/xml/
frameworks/runtime-src/proj.ios_mac/PluginFyber.framework/
frameworks/runtime-src/proj.ios_mac/PluginReview.framework/
frameworks/runtime-src/proj.ios_mac/plugin_review_res_bundle/
frameworks/runtime-src/proj.ios_mac/sdkbox_func_test_js.xcodeproj/project.xcworkspace/
runtime/


# installer
.sdkbox_packages.json

